@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Josefin Sans', sans-serif;
}

.wrapper{
    width: 100%;
    height: 100%;
    display: flex;
    position: absolute;
}

.wrapper .sidebar{
    position: fixed;
    width: 250px;
    height: 100%;
    background: #2A3F54;
    padding: 30px 0;
}

.wrapper .sidebar .logged-user{
    display: inline-block;
    width: 250px;
    text-align: center;
    margin-bottom: 30px;
}

.wrapper .sidebar .logged-user .login-icon{
    width: 100px;
    height: 100px;
    color: #2A3F54;
    margin-bottom: 20px;
}

.wrapper .sidebar .logged-user .username{
    color: #E7E7E7;
}

.wrapper .sidebar h2{
    color: #fff;
    text-align: center;
    margin-bottom: 30px;
}

.wrapper .sidebar ul li{
    padding: 15px;
    border-bottom:  1px solid rgba(0,0,0,0.05);
    border-top:  1px solid rgba(225,225,225,0.05);
}

.wrapper .sidebar ul li a{
    color: #E7E7E7;
    display: block;
}

.wrapper .sidebar ul li a .fas{
    width: 25px;
}

.wrapper .sidebar ul li:hover{
    background: rgba(255,255,255,.03);
}

.wrapper .sidebar ul li:hover a{
    color: #fff;
}

.wrapper .content{
    width: 100%;
    height: 100%;
    margin-left: 250px;
    background: #F7F7F7;
}

.wrapper .content .header{
    padding: 20px;
    color: #73879C;
    border-bottom: 2px solid #E6E9ED;
    font-size: 24px;
}

.wrapper .content .info{
    margin-top: 20px;
}

.wrapper .content .info .username_info {
    margin: 20px;
}

.wrapper .content .info .role {
    margin: 20px;
}

.wrapper .content .info .username_info .username_text{
    font-size: 24px;
}

.wrapper .content .info .username_info .username_value{
    font-size: 18px;
    margin-left: 40px;
}

.wrapper .content .info .role .role_text{
    font-size: 24px;
}

.wrapper .content .info .role .role_value{
    font-size: 18px;
    margin-left: 40px;
}